:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.colorBox {
/*
    width: 100%;
    max-width: 600px;
*/
    width: 50vw;
/*    height: 600px;*/
    height: 50vw;
    background-color: red;
    margin: 50px auto;
}

#bContainer {
    width: 90%;
    margin: auto;
}

button {
/*    padding: 10px 0;*/
    width: 33%;
    border: solid 2px lightblue;
    border-radius: 1rem;
    font-size: 1rem;
    color: blue;
    background-color: white;
}